@media (max-width: 1100px) {


    .promo {

        h1 {
      
            font-size: 42px;
            color: green;
     
        }


    
        h2 {
            color:red;
            
        
        }
        h3 {
            color: blue;
        
        }

}
}