

* {
    font-family:  'Roboto Slab', sans-serif;
}
* {
box-sizing: border-box;
}

.container {
    width: 1194px;
    margin: 0 auto;
    position: relative;

}



.paw-icon {
    display: block;
    padding-top: 49px;  
    margin: 0 auto;
}


@import 'base/media';
@import 'base/variables';
@import 'blocks/promo';
@import 'blocks/buttons';
@import 'blocks/header';
@import 'blocks/houses';
@import 'blocks/delivery';
@import 'blocks/more';
@import 'blocks/order';
@import 'blocks/forms';
@import 'blocks/models';
@import 'blocks/design';
@import 'blocks/feed';
@import 'blocks/slider';
@import 'blocks/questions';
@import 'blocks/contacts';

