.feed {
    height: 800px;
    
    &__item {
       display: flex;
       margin: 0 200px;
    //    width: 900px;
    }

    &__name {
        color: #291402;
        font-size: 18px;
        font-weight: 700;
    }
    &__city {

        color: #9b7a5e;
        font-size: 16px;
        font-weight: 400;
        margin-top: 15px;
        font-family: Roboto;
      
    }

    &__text {
        margin-left: 60px;
        margin-top: 50px;
    }
    &__icon {
        width: 240px;
        height: 190px;
        margin-top: 50px;
    }
    &__descr {
       
        width: 590px;
        height: 94px;
        color: #291402;
        font-family: Roboto italic;
        font-size: 16px;
        margin-top: 20px;
    }
}

.right .feed__descr {
    text-align: right;
}

.right .feed__name {
    text-align: right;
}
.right .feed__city {
    text-align: right;
}
.right .feed__icon {
   margin-left: 60px;
}