.feed {
    height: 750px;
    
    &__item {
       display: flex;
       width: 900px;
    }

    &__name {
        color: #291402;
        font-size: 18px;
        font-weight: 700;
    }
    &__city {

        color: #9b7a5e;
        font-size: 16px;
        font-weight: 400;
        margin-top: 15px;
        font-family: Roboto;
      
    }

    &__text {
        margin-left: 60px;
        margin-top: 50px;
      
     
       
    }
    &__icon {
        width: 240px;
        height: 190px;
        margin-top: 50px;
     

    }
    &__descr {
       
        width: 590px;
        height: 94px;
        color: #291402;
        font-family: Roboto;
        font-size: 16px;
    }
}



