.houses {

   
    width: 1921px;
    padding-bottom: 49px;

    &__block {
    
        display: flex;
        justify-content: space-between;
        margin: 49px 240px 0;
  
    }
    &__item {
        text-align: center;
       
    }
	&__icon {
        display: block;
        width: 140px;
        height: 150px;
        text-align: center;
    }
  
    &__descr {
        color: #000000;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
   
    }
}
