.models {
    height: 879px;
    background-color: $backlight-color;
  
    
    .button__item {


        width: 260px;
        height: 80px;
        background-color:#fff7ea;
        text-align: center;
       
    }
    
}


