.models {
    height: 879px;
    background-color: $backlight-color;
  


    &__wrap {
        display: flex;
        justify-content: space-evenly;
        margin: 0 auto;
    }
}
    
    .button__item {


        width: 260px;
        height: 80px;
        background-color:#fff7ea;
        text-align: center;
       
    }

    .price_text {

        font-size: 22px;
    }

    
    
    



