.more {
    // width: 1920px;
    min-height: 510px;
    background-color: #9b7a5e;
    
    &__wrap {

        display: flex;
        justify-content: space-evenly;
        margin-top: 10px;
        position : relative;
    }


    &__icon {

        text-align: center;
    }

}