.promo {
    // width: 1921px; ширину не нужно указывать
    min-height: 150px;

    &__wrapper {
        display: flex;
        padding-top: 25px;
        margin: 0 auto;
    }   
    &__logo {
        width: 175px;
        height: 90px;
        margin-right: 25px;
    }   
    &__text {
        width: 215px;
        color: #000000;
        font-family: Roboto italic;
        font-size: 18px;
        margin-top: 12px;
        margin-right: 138px;
    }
    &__subheader {
       
        color: #000000;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
        margin-top: 0;
    }
    &__social {
        margin-right: 80px;
        width: 140px;
    
        &__icons {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__block {
            img {
                display: block;
                margin: 0;
                height: 30px;
                width: 30px;
                margin: 0 auto;
            }
        }
    }
    &__contacts {
        text-align: right;
    }

    &__question {
        color: #242424;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 8px;
   }
   &__shedule {
        color: #242424;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
        margin-top: 10px;
        margin-bottom: 15px;
   }
   &__phone {
        color: #242424;
        font-size: 18px;
        font-weight: 700;
        text-decoration: none;
    }
    &__call {
        color: $main-color;
        font-family: Roboto;
        font-size: 13px;
        font-weight: 400;
        text-align: right;
        display: block;
        margin-top: 8px;
    }
}


 



