.slider, .slider2 {
    width: 260px;
    height: 210px;
    background-color: #fff;
}

.wrap {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   
}

.wrap_button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;



}

.slider-item {
    width: 260px;
    position: relative;
    img {
        display: block;
        margin: 0 auto;
        }
}



.left-arrow {

    width: 35px;
    height: 35px;
    background: url('../icons/left_grey.svg') no-repeat;    
    position: absolute;
    cursor: pointer;
    z-index: 4;
    left: 30px;
    top: 250px;
    display: block;
  
    }

    .right-arrow {
        width: 35px;
        height: 35px;
        background: url("../icons/right_grey.svg") no-repeat;
        position: absolute;
        cursor: pointer;
        z-index: 4;
        right: 30px;
        top: 250px;
        display: block;
    }

    .left-arrow2 {
        width: 35px;
        height: 35px;
        background: url("../icons/left_light.png")no-repeat;    
        position: absolute;
        cursor: pointer;
        z-index: 4;
        left: 30px;
        top: 250px;
        display: block; 
       
    }

    .right-arrow2 {
        width: 35px;
        height: 35px;
        background: url("../icons/right_light.png")no-repeat;    
        position: absolute;
        cursor: pointer;
        z-index: 4;
        right: 30px;
        top: 250px;
        display: block; 
      
    }

    .price_item {
        width: 110px;
        height: 40px;
        border-radius: 0 0 5px 5px;
        background-color: #f9ddb0;
        position: absolute;
        top: 0px;
        left: 10px;


    }
    .price_text {

    width: 78px;
    color: #232323;
    font-family: "Roboto Slab";
    font-size: 15px;
    font-weight: 700;
    margin: 15px auto 0px;
    text-align: center;
   
    }